body,
button {
	background: black;
	font-family: "Handlee", cursive;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 85%;
	margin-top: 5%;
}

.postcard-header img {
	margin-top: 2%;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 5px;
}

input {
	border: none;
	border-bottom: 1px solid gray;
	font-family: "Handlee", cursive;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: gray;
	padding: 2px;
}
